[Unit]
Description=High-performance, cost-effective and scalable time series database, long-term remote storage for Prometheus
After=network.target

[Service]
Type=simple
StartLimitBurst=5
StartLimitInterval=0
Restart=on-failure
RestartSec=1
EnvironmentFile=/etc/default/victoria-metrics
ExecStart=/usr/bin/victoria-metrics $ARGS
ExecStop=/bin/kill -s SIGTERM $MAINPID
TimeoutStopSec=20
LimitNOFILE=65536
LimitNPROC=32000

[Install]
WantedBy=multi-user.target
